@keyframes gele {
    from { transform: skewY(0);}
    30%  { transform: skewY(10deg);}
    30%  { transform: skewY(-10deg);}
    to   { transform: skewY(0deg);}
}

.gele{
    &:hover{
        animation: gele 0.4s ease-in-out ;
        animation-iteration-count: 2;
        animation-direction: alternate;
    }
}
.brightness{
    &:hover{
        filter: brightness(1.1);
    }
    
}
.contrast{
    &:hover{
        filter: contrast(1.2);
    }
}

.hue-rotate{
    &:hover{
        filter: hue-rotate(181deg);
    }
}