// Подключаем  Bootstrap

// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

// переменные
@import "variable/variable"   ; 

@import 'body/button/button'  ; // кнопки

// section
@import "body/section/productCart"      ; // карточка товара
@import "body/section/vishop-window"    ; // карточка товара


// special animation->placeholder; castom browserScrollBar
@import "special/special.scss"      ;
@import "special/placeholder.scss"  ;
@import "special/sprite"            ; // спрайт иконок
@import "special/animate"           ; // анимации

// head
@import "head/header"       ;
@import "head/mobile_nav"   ;
@import "head/nav"          ;

// body 

@import 'body/form/form'                ;
@import 'body/text/text'                ;
@import 'body/slider/slick'             ; // слайдер slick
@import 'body/slider/slider'            ; // слайдер на главной

// home
@import 'pages/home/homeSlider'    ; // слайдер на главной

// footer
@import 'footer/footer'     ;

// pages HOME
@import 'pages/home/first_section';





body{
    background: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
img{
    max-width: 100%;
}
*{
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
    &:focus{
        color: #fff;
        text-decoration: none;
    }
    &:active{
        color: #fff;
        text-decoration: none;
    }
    &:link{
        color: #fff;
        text-decoration: none;
    }
}