.productCart{
    margin: 25px 0;
    transition: all 0.4s;
    img{
        display: block;
        margin: 0 auto;
        transition: all 0.4s;
    }
    .name{
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        
    }
    .infoBar{
        display: flex;
        justify-content: space-around;
    }
}