.section-1{
    width: 100%;
    max-width: 1920px;
    height: 700px;
    margin: 0 auto;
    position: relative;
  
    @media screen and (max-width: 1499px){
        background-size: cover;
    }
    @media screen and (max-width: 768px){
        height: 100vh;
        //background: url('../img/page_1_m.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 133vh;
        
        .mainTitle2{
            display: block;
            font-size: 3.5em;
            color: #fff;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            margin: 40px auto;
            text-align: left;
            width: max-content;

            // @media screen and (max-width: 768px){
            //     display: none !important;
            // }
            @media screen and (max-width: 455px){
                font-size: 1.9em;
            }
        }
    }
    .m{
        background: url('../img/page_1_m.png');
        width: 100%;
        height: 600px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        display: none;
        @media screen and (max-width: 768px){
            display: block;
            margin: 0 0 -2px 0;
        }
        @media screen and (max-width: 640px){
            height: 500px;
        }
        @media screen and (max-width: 540px){
            height: 400px;
        }
    }
    .right{
        background: url('../img/s_1-bg_b.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
        width: 50%;
        height: 825px;
        right: 0;
        top: 0;
        position: absolute;
        min-width: 800px;
        @media screen and (max-width: 1710px){
            height: 700px;
        }
        @media screen and (max-width: 1264px){
            min-width: 600px;
            max-width: 600px;
        }    
        @media screen and (max-width: 1030px){
            min-width: 500px;
            max-width: 500px;
        }
        @media screen and (max-width: 886px){
            min-width: 400px;
            max-width: 400px;
        }
        @media screen and (max-width: 780px){
            min-width: 370px;
            max-width: 370px;
        }
        @media screen and (max-width: 768px){
            display: none;
        }
    }

    .mainTitle2{
        display: none;
       
    }

    @media screen and (max-width: 760px){
        background-size: 100%;    
        background-position: center top;
    }

    @media screen and (max-width: 455px){
        padding: 10px;
    }

    .mainTitle{
        position: absolute;
        top: 27%;
        left: 30px;
        font-size: 5em;
        color: #fff;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        @media screen and (max-width: 1499px){
            font-size: 4em;
        }
        @media screen and (max-width: 1341px){
            top:35%;
        }
        @media screen and (max-width: 1341px){
            font-size: 4em;
            top: 25%;
        }
        @media screen and (max-width: 1199px){
            top: 25%;
        }
        @media screen and (max-width: 1156px){
            font-size: 3em;
            top: 34%;
        }
        @media screen and (max-width: 1030px){
            top: 21%;
        }
        @media screen and (max-width: 947px){
            top: 17%;
        }

        @media screen and (max-width: 772px){
            top: 17%;
        }
        @media screen and (max-width: 768px){
            display: block;
            position: static;
            top: 27%;
            left: 30px;
            font-size: 4.5em;
            color: #fff;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            text-align: left;
            width: max-content;
            margin: 50px auto;
        }
        @media screen and (max-width: 540px){
            font-size: 4em;
        }
        @media screen and (max-width: 480px){
            font-size: 3em;
        }
        @media screen and (max-width: 430px){
            font-size: 2.5em;
        }
        
    }
  
    .logo{
        display: block;
        max-width: 600px;
        margin: 30px;
        position: absolute;

        @media screen and (max-width: 1499px){
            max-width: 500px;
        }
        @media screen and (max-width: 1266px){
            max-width: 400px;
        }
        @media screen and (max-width: 1156px){
            max-width: 400px;
        }
        @media screen and (max-width: 1087px){
            max-width: 400px;
        }
        @media screen and (max-width: 1030px){
            max-width: 350px;
        }
        @media screen and (max-width: 885px){
            max-width: 380px;
        }
        @media screen and (max-width: 816px){
            max-width: 350px;
        }
        @media screen and (max-width: 768px){
            //display: none !important;
        }
        @media screen and (max-width: 768px){
            margin: 10px auto;
            position: static;
            width: 95%;
            max-width: 95%;
        }
        img{
            transition: all 0.3s;
            &:hover{
                transform: scale(1.01);
            } 
        }
    }
  
    .footer{
        position: absolute;
        bottom: -125px;
        background: #000;
        left: 0;
        height: 89px;
        width: 63%;
        overflow: hidden;
        .bg{

        }

        @media screen and (max-width: 1710px){
            bottom:0;
            height: 76px;
            width: 63%;
        }    
        @media screen and (max-width: 1442px){
            width: 65%;
            p{
                font-size: 9px;
            }
        }
        @media screen and (max-width: 1396px){
            width: 61%;   
        }
        @media screen and (max-width: 1264px){
            bottom: 122px;
            height: 62px;
        }
        @media screen and (max-width: 1199px){
            width: 65%;   
        }
        @media screen and (max-width: 1030px){
            bottom: 218px;
            height: 52px;
        }
        @media screen and (max-width: 886px){
            bottom: 314px;
            height: 42px;
        }
        @media screen and (max-width: 780px){
            bottom: 343px;
            height: 39px;
        }
        @media screen and (max-width: 768px){
            position: static;
            background: #000;
            left: 0;
            height: 124px;
            width: 100%;
            display: block;
        }
     
        &::before{
            position: absolute;
            content: '';
            background: #f5000d;
            left: -22px;
            top: -22px;
            width: 30px;
            height: 150px;
            transform: rotate(24deg);
        }
        p{
            padding: 25px 10px 10px 50px;
            font-size: 10px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.17px;
            color: #fff;
            @media screen and (max-width: 1710px){
                padding: 10px 10px 10px 50px;
                font-size: 9px;
            }
            
            @media screen and (max-width: 1264px){
                font-size: 9px;
            }
            @media screen and (max-width: 1024px){
                font-size: 7px;
            }
            @media screen and (max-width: 415px){
                font-size: 10px;
            }
            @media screen and (max-width: 1199px){
                padding: 10px 10px 10px  50px;
            }
            @media screen and (max-width: 1030px){
                font-size: 6px;
            }
            @media screen and (max-width: 1012px){
                font-size: 6px;
            }
            @media screen and (max-width: 886px){
                font-size: 10px;
            }
            @media screen and (max-width: 550px){
                font-size: 7px;
            }
        }
    }
}

.section-3{
    background: url(../img/screen_page3.psd.png);
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    @media screen and (max-width: 768px){
        font-size: 7px;
    }
}